{% extends 'base.html.twig' %}
{% block body %}
    <p  style="font-size: 140%">Check mail-hog mail to finalize login</p>
    <div class="links">
        <a href="{{ path('home') }}">Back to Home</a>
    </div>
{% endblock %}