{% extends 'base.html.twig' %}
{% block body %}
    <p  style="font-size: 140%">Checkout the mail in <a href="http://mailhog-passwordless.local.itkdev.dk/#">mail-hog</a> to finalize login</p>
    <div class="links">
        <a href="{{ path('home') }}">Back to Home</a>
    </div>
{% endblock %}